<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameforkids">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".PlayClockGame"></activity>
        <activity android:name=".TrueAnswerClockGame"></activity>
        <activity android:name=".FalseAnswerClockGame"></activity>
        <activity android:name=".PlaySeasonsGame"></activity>
        <activity android:name=".TrueAnswerSeasonsGame"></activity>
        <activity android:name=".FalseAnswerSeasonsGame"></activity>
        <activity android:name=".PlayDaysGame"></activity>
        <activity android:name=".TrueAnswerDaysGame"></activity>
        <activity android:name=".FalseAnswerDaysGame"></activity>
        <activity android:name=".PlayBallGame"></activity>
        <activity android:name=".TrueAnswerBallGame"></activity>
        <activity android:name=".PlayMonthsGame"></activity>
        <activity android:name=".TrueAnswerMonthsGame"></activity>
        <activity android:name=".FalseAnswerMonthsGame"></activity>
        <activity android:name=".PlaySpellingBee"></activity>
        <activity android:name=".TrueAnswerSpellingBee"></activity>
        <activity android:name=".FalseAnswerSpellingBee"></activity>
        <activity android:name=".PlayDirectionsGame"></activity>
        <activity android:name=".TrueAnswerDirectionsGame"></activity>
        <activity android:name=".FalseAnswerDirectionsGame"></activity>
        <activity android:name=".PlayMultiplicationGame"></activity>
        <activity android:name=".TrueAnswerMultiplicationGame"></activity>
        <activity android:name=".FalseAnswerMultiplicationGame"></activity>
        <activity android:name=".PlaySimilarPics"></activity>
        <activity android:name=".TrueAnswerSimilarPics"></activity>
        <activity android:name=".FalseAnswerSimilarPicsGame"></activity>
        <activity android:name=".PlayDigitGame"></activity>
        <activity android:name=".TrueAnswerDigitGame"></activity>
        <activity android:name=".FalseAnswerDigitGame"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".MainActivity"></activity>
    </application>
</manifest>